.gallery{
  -webkit-column-count: 7;
  -moz-column-count: 7;
  column-count: 7;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  
  padding: 8% 2%;
}
.gallery .pics{
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin: 5px -5px;
}
.gallery .pics:hover{
  filter: opacity(.8) ;
}


@media (max-width: 991px){
  .gallery{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    
  }
}
@media (max-width: 480px){
  .gallery{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    padding: 8% 2%;
}
}